
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: loadbalancermachines.yawol.stackit.cloud
spec:
  group: yawol.stackit.cloud
  names:
    kind: LoadBalancerMachine
    listKind: LoadBalancerMachineList
    plural: loadbalancermachines
    shortNames:
    - lbm
    singular: loadbalancermachine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.creationTimestamp
      name: creationTimestamp
      type: string
    - jsonPath: .status.conditions[?(@.type=="EnvoyUpToDate")].status
      name: EnvoyUpToDate
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: LoadBalancerMachine is the Schema for the LoadBalancerMachine's
          API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LoadBalancerMachineSpec defines the desired state of LoadBalancerMachine
            properties:
              floatingID:
                description: FloatingID defines the  openstack ID from the FloatingIP.
                type: string
              infrastructure:
                description: Infrastructure defines parameters for the Infrastructure.
                properties:
                  authSecretRef:
                    description: AuthSecretRef defines a secretRef for the openstack
                      secret.
                    properties:
                      name:
                        description: Name is unique within a namespace to reference
                          a secret resource.
                        type: string
                      namespace:
                        description: Namespace defines the space within which the
                          secret name must be unique.
                        type: string
                    type: object
                  flavor:
                    description: Flavor defines openstack flavor for the LoadBalancer.
                      Uses a default if not defined.
                    properties:
                      flavor_id:
                        description: FlavorID is the flavor ID used for requesting
                          virtual machines.
                        type: string
                      flavor_name:
                        description: FlavorName is the name of the flavor used for
                          requesting virtual machines. FlavorName is only used if
                          FlavorID is not defined.
                        type: string
                      flavor_search:
                        description: FlavorSearch is a search string to find the flavor
                          used for requesting virtual machines. Search will be performed
                          in metadata of the flavors. FlavorSearch is only used if
                          FlavorName and FlavorID are not defined.
                        type: string
                    type: object
                  floatingNetID:
                    description: FloatingNetID defines a openstack ID for the floatingNet.
                    type: string
                  image:
                    description: Image defines openstack image for the LoadBalancer.
                      Uses a default if not defined.
                    properties:
                      image_id:
                        description: ImageID is the image ID used for requesting virtual
                          machines.
                        type: string
                      image_name:
                        description: ImageName is the name of the image used for requesting
                          virtual machines. ImageName is only used if ImageID is not
                          defined.
                        type: string
                      image_search:
                        description: ImageSearch is a search string to find the image
                          used for requesting virtual machines. Search will be performed
                          in metadata of the images. ImageSearch is only used if ImageName
                          and ImageID are not defined.
                        type: string
                    type: object
                  networkID:
                    description: NetworkID defines a openstack ID for the network.
                    type: string
                required:
                - authSecretRef
                - networkID
                type: object
              loadBalancerRef:
                description: LoadBalancerRef defines a reference to the LoadBalancer
                  Object.
                properties:
                  name:
                    description: Name is unique within a namespace to reference a
                      LoadBalancer resource.
                    type: string
                  namespace:
                    description: Namespace defines the space within which the LoadBalancer
                      name must be unique.
                    type: string
                required:
                - name
                - namespace
                type: object
              portID:
                description: PortID defines the openstack ID from the Port.
                type: string
            required:
            - floatingID
            - infrastructure
            - loadBalancerRef
            - portID
            type: object
          status:
            description: LoadBalancerMachineStatus defines the observed state of LoadBalancerMachine.
            properties:
              conditions:
                description: Conditions contains condition information for a LoadBalancerMachine.
                items:
                  description: NodeCondition contains condition information for a
                    node.
                  properties:
                    lastHeartbeatTime:
                      description: Last time we got an update on a given condition.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: Last time the condition transit from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: Human readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: (brief) reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of node condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              creationTimestamp:
                description: CreationTimestamp contains the creation timestamp a LoadBalancerMachine.
                format: date-time
                type: string
              lastOpenstackReconcile:
                description: LastOpenstackReconcile contains the timestamp of the
                  last openstack reconciliation.
                format: date-time
                type: string
              metrics:
                description: Metrics contains metrics for a LoadBalancerMachine.
                items:
                  description: LoadBalancerMachineMetric describes a metric of the
                    LoadBalancerMachine
                  properties:
                    timestamp:
                      description: Time is the timestamp if the metric
                      format: date-time
                      type: string
                    type:
                      description: Type is the type of a metric
                      type: string
                    value:
                      description: Value is the value of a metric
                      type: string
                  required:
                  - timestamp
                  - type
                  - value
                  type: object
                type: array
              serverID:
                description: ServerID contains the openstack server ID for a LoadBalancerMachine.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
