replicas: 1
podAnnotations: {}
podLabels: {}
featureGates: {}
proxy: {}
namespace: kube-system
vpa:
  enabled: true
  yawolCloudController:
    mode: Auto
  yawolController:
    mode: Auto

yawolCloudController:
  enabled: true
  gardenerMonitoringEnabled: false
  clusterRoleEnabled: true
  additionalArguments:
    - -target-kubeconfig=/var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
  additionalVolumes:
    - name: kubeconfig
      projected:
        defaultMode: 420
        sources:
        - secret:
            items:
            - key: kubeconfig
              path: kubeconfig
            name: generic-token-kubeconfig
            optional: false
        - secret:
            items:
            - key: token
              path: token
            name: shoot-access-cloud-controller-manager
            optional: false
  additionalVolumeMounts:
    - mountPath: /var/run/secrets/gardener.cloud/shoot/generic-kubeconfig
      name: kubeconfig
      readOnly: true
  image:
    repository: reg.infra.ske.eu01.stackit.cloud/ske/yawol-cloud-controller
    tag: 0.7.2

yawolController:
  gardenerMonitoringEnabled: false
  image:
    repository: reg.infra.ske.eu01.stackit.cloud/ske/yawol-controller
    tag: 0.7.2

resources:
  yawolCloudController:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 512Mi
  yawolControllerLoadbalancer:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 512Mi
  yawolControllerLoadbalancerset:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 512Mi
  yawolControllerLoadbalancermachine:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 512Mi

#yawolClassName: debug
#openstackTimeout: 20s
yawolDebug: false

# the name of the Kubernetes secret that contains the .openrc file contents
# with the correct permissions to connect to the OpenStack API
#
# Placed in LoadBalancer.spec.infrastructure.authSecretRef.name
yawolOSSecretName: openstack-secret

# floating IP ID of the IP pool that yawol uses to request IPs
#
# Placed in LoadBalancer.spec.infrastructure.floatingNetID
yawolFloatingID: floating-id

# OpenStack network ID in which the Load Balancer is placed
#
# Placed in LoadBalancer.spec.infrastructure.networkID
yawolNetworkID: foobar

# default value for flavor that yawol Load Balancer instances should use
# can be overridden by annotation
#
# Placed in LoadBalancer.spec.infrastructure.flavor.flavor_id
yawolFlavorID: foobar

# default value for ID of the image used for the Load Balancer instance
# can be overridden by annotation
#
# Placed in LoadBalancer.spec.infrastructure.image.image_id
yawolImageID: foobar

# default value for the AZ used for the Load Balancer instance
# can be overridden by annotation
#
# Placed in LoadBalancer.spec.infrastructure.availabilityZone
yawolAvailabilityZone: foobar

# URL/IP of the Kubernetes API server that contains the LoadBalancer resources
yawolAPIHost: foobar
