
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: loadbalancers.yawol.stackit.cloud
spec:
  group: yawol.stackit.cloud
  names:
    kind: LoadBalancer
    listKind: LoadBalancerList
    plural: loadbalancers
    shortNames:
    - lb
    singular: loadbalancer
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: LoadBalancer is the Schema for the YAWOL LoadBalancer API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LoadBalancerSpec defines the desired state of LoadBalancer
            properties:
              endpoints:
                description: Endpoints defines the Endpoints for the LoadBalancer.
                items:
                  description: LoadBalancerEndpoint defines a Endpoint for the LoadBalancer
                  properties:
                    addresses:
                      description: Addresses is a list of addresses for the endpoint,
                        they can contain IPv4 and IPv6 addresses.
                      items:
                        type: string
                      type: array
                    name:
                      description: 'Name defines a name for the Endpoint (example:
                        node name).'
                      type: string
                  required:
                  - name
                  type: object
                type: array
              externalIP:
                description: ExternalIP is a externalIP (FIP or private) that should
                  be used for a new LoadBalancer
                type: string
              infrastructure:
                description: Infrastructure defines parameters for the Infrastructure
                properties:
                  authSecretRef:
                    description: AuthSecretRef defines a secretRef for the openstack
                      secret.
                    properties:
                      name:
                        description: Name is unique within a namespace to reference
                          a secret resource.
                        type: string
                      namespace:
                        description: Namespace defines the space within which the
                          secret name must be unique.
                        type: string
                    type: object
                  flavor:
                    description: Flavor defines openstack flavor for the LoadBalancer.
                      Uses a default if not defined.
                    properties:
                      flavor_id:
                        description: FlavorID is the flavor ID used for requesting
                          virtual machines.
                        type: string
                      flavor_name:
                        description: FlavorName is the name of the flavor used for
                          requesting virtual machines. FlavorName is only used if
                          FlavorID is not defined.
                        type: string
                      flavor_search:
                        description: FlavorSearch is a search string to find the flavor
                          used for requesting virtual machines. Search will be performed
                          in metadata of the flavors. FlavorSearch is only used if
                          FlavorName and FlavorID are not defined.
                        type: string
                    type: object
                  floatingNetID:
                    description: FloatingNetID defines a openstack ID for the floatingNet.
                    type: string
                  image:
                    description: Image defines openstack image for the LoadBalancer.
                      Uses a default if not defined.
                    properties:
                      image_id:
                        description: ImageID is the image ID used for requesting virtual
                          machines.
                        type: string
                      image_name:
                        description: ImageName is the name of the image used for requesting
                          virtual machines. ImageName is only used if ImageID is not
                          defined.
                        type: string
                      image_search:
                        description: ImageSearch is a search string to find the image
                          used for requesting virtual machines. Search will be performed
                          in metadata of the images. ImageSearch is only used if ImageName
                          and ImageID are not defined.
                        type: string
                    type: object
                  networkID:
                    description: NetworkID defines a openstack ID for the network.
                    type: string
                required:
                - authSecretRef
                - networkID
                type: object
              internalLB:
                default: false
                description: InternalLB is a bool for internal LoadBalancer. If set
                  to false a FloatingIP will be assigned to the LB. Defaults to false.
                type: boolean
              ports:
                description: Ports defines the Ports for the LoadBalancer (copy from
                  service)
                items:
                  description: ServicePort contains information on service's port.
                  properties:
                    name:
                      description: The name of this port within the service. This
                        must be a DNS_LABEL. All ports within a ServiceSpec must have
                        unique names. When considering the endpoints for a Service,
                        this must match the 'name' field in the EndpointPort. Optional
                        if only one ServicePort is defined on this service.
                      type: string
                    nodePort:
                      description: 'The port on each node on which this service is
                        exposed when type=NodePort or LoadBalancer. Usually assigned
                        by the system. If specified, it will be allocated to the service
                        if unused or else creation of the service will fail. Default
                        is to auto-allocate a port if the ServiceType of this Service
                        requires one. More info: https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport'
                      format: int32
                      type: integer
                    port:
                      description: The port that will be exposed by this service.
                      format: int32
                      type: integer
                    protocol:
                      description: The IP protocol for this port. Supports "TCP",
                        "UDP", and "SCTP". Default is TCP.
                      type: string
                    targetPort:
                      anyOf:
                      - type: integer
                      - type: string
                      description: 'Number or name of the port to access on the pods
                        targeted by the service. Number must be in the range 1 to
                        65535. Name must be an IANA_SVC_NAME. If this is a string,
                        it will be looked up as a named port in the target Pod''s
                        container ports. If this is not specified, the value of the
                        ''port'' field is used (an identity map). This field is ignored
                        for services with clusterIP=None, and should be omitted or
                        set equal to the ''port'' field. More info: https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service'
                      x-kubernetes-int-or-string: true
                  required:
                  - port
                  type: object
                type: array
              replicas:
                default: 1
                description: Replicas defines the number of LoadBalancers that should
                  run.
                minimum: 0
                type: integer
              selector:
                description: This label selector matches the load balancer sets deriving
                  from the load balancer
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
            required:
            - infrastructure
            - selector
            type: object
          status:
            description: LoadBalancerStatus defines the observed state of LoadBalancer.
            properties:
              externalIP:
                description: ExternalIP is the current externalIP (FIP or private).
                  If not defined, no ExternalIP is bound yet.
                type: string
              floatingID:
                description: FloatingID is the current openstack ID from the FloatingIP.
                type: string
              floatingName:
                description: FloatingName is the current openstack name from the FloatingIP.
                type: string
              nodeRoleRef:
                description: NodeRole is the current role metadata that is used by
                  the LB machine's ServiceAccounts.
                properties:
                  apiGroup:
                    description: APIGroup is the group for the resource being referenced
                    type: string
                  kind:
                    description: Kind is the type of resource being referenced
                    type: string
                  name:
                    description: Name is the name of resource being referenced
                    type: string
                required:
                - apiGroup
                - kind
                - name
                type: object
              portID:
                description: PortID is the current openstack ID from the virtual Port.
                type: string
              portName:
                description: PortName is the current openstack name from the virtual
                  Port.
                type: string
              readyReplicas:
                description: ReadyReplicas are the current running replicas.
                type: integer
              replicas:
                description: Replicas displays the running lb replicas under this
                  deployment
                type: integer
              security_group_id:
                description: SecurityGroupID is the current security group ID mapped
                  to the port
                type: string
              security_group_name:
                description: SecurityGroupName is the current security group name
                  mapped to the port
                type: string
            type: object
        required:
        - metadata
        type: object
    served: true
    storage: true
    subresources:
      scale:
        specReplicasPath: .spec.replicas
        statusReplicasPath: .status.replicas
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
