name: Tests

on:
- pull_request

jobs:
  test:
    runs-on: self-hosted
    permissions:
      contents: read
    env:
      # is an empty string if it doesn't exists
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      FORCE_COLOR: 1
    steps:
    - uses: actions/checkout@v3
    - name: Put back the git branch into git (Earthly uses it for tagging)
      run: |
        branch=""
        if [ -n "$GITHUB_HEAD_REF" ]; then
          branch="$GITHUB_HEAD_REF"
        else
          branch="${GITHUB_REF##*/}"
        fi
        git checkout -b "$branch" || true
    - name: Install earthly
      run: "sudo /bin/sh -c 'wget https://github.com/earthly/earthly/releases/download/v0.6.23/earthly-linux-amd64 -O /usr/local/bin/earthly && chmod +x /usr/local/bin/earthly'"
    - name: Configure pull-through-cache
      run: |
        cat <<EOF > ~/.config/earthly.yml
        global:
          buildkit_additional_config: |
            [registry."docker.io"]
              mirrors = ["193.148.176.21:5000"]
            [registry."193.148.176.21:5000"]
              insecure = true
        EOF
    - name: Earthly version
      run: earthly --version
    - name: Run Snyk
      if: ${{ env.SNYK_TOKEN }}
      run: earthly --ci --secret SNYK_TOKEN +snyk
    - name: Run Tests
      run: earthly --ci +all-except-snyk

