#/etc/systemd/system/envoy.service
[Unit]
Description=envoy
After=network.target
StartLimitIntervalSec=0
[Service]
LimitNOFILE=100000
Type=simple
Restart=always
RestartSec=1
User=yawol
ExecStart=/usr/bin/envoy -c /etc/yawol/envoy.yaml

[Install]
WantedBy=multi-user.target